@font-face {
    font-family: 'Bicubik';
    src: url("../source/fonts/Bicubik.woff") format("woff"), url("../source/fonts/Bicubik.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url("../source/fonts/Calibri.woff") format("woff"), url("../source/fonts/Calibri.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Neometric Medium';
    src: url("../source/fonts/Neometric-Medium.otf") format("opentype"), url("../source/fonts/Neometric-Medium.woff") format("woff"), url("../source/fonts/Neometric-Medium.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/******************************
********** general ************
******************************/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1.4;
    font-family: 'Calibri', sans-serif;
    color: #2d2d2d;
}

html, body {
    background-color: #ffffff;
    width: 100%;
}

a, button {
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active, a:focus {
    outline: none;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input, input:hover, input:active, input:focus {
    outline: none;
}
textarea, textarea:hover, textarea:active, textarea:focus {
    outline: none;
    border: none;
}

ul li, ol li {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

h1 {
    font-family: "Bicubic", sans-serif;
    font-size: 1.666666666666667em;
    font-weight: 300;
    line-height: 1.3;
}
h2 {
    display: inline-block;
    width: 100%;
    font-size: 1.416666666666667em;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    padding: 23px 0 20px;
    color: #ffffff;
    background: #669933;
    text-shadow: 2px 1px 1px #000;
}

button {
    display: inline-block;
    line-height: 1;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-box-shadow: inset 2px 2px 0 0 rgba(0,0,0,0.25), inset -2px -2px 0 0 rgba(0,0,0,0.25);
    -moz-box-shadow: inset 2px 2px 0 0 rgba(0,0,0,0.25), inset -2px -2px 0 0 rgba(0,0,0,0.25);
    box-shadow: inset 2px 2px 0 0 rgba(0,0,0,0.25), inset -2px -2px 0 0 rgba(0,0,0,0.25);
    background: #669933;
}
.image-wrap {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.image-wrap img {
    display: block;
    height: 100%;
    width: auto;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    position: relative;
    margin: 0 auto;
}

section {
    display: block;
    width: 100%;
    position: relative;
}

.form-field:focus::-webkit-input-placeholder {color: transparent;}
.form-field:focus::-moz-placeholder {color: transparent;}
.form-field:focus:-moz-placeholder {color: transparent;}
.form-field:focus:-ms-input-placeholder {color: transparent;}

.validatr-message {
    display: none;
}

.invalid-field {
    border: 1px solid #ff0000!important;
}


.custom-checkbox.invalid-field + .custom-checkbox-wrap:before {
    border: 1px solid #ff0000;
}